<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Corynth - Not Found</title>

    <%- include("./templates/meta.ejs") %>
</head>

<body>
    <%- include("./templates/nav.ejs") %>
    <div class="conatiner">
        <h1>Not Found</h1>
        <img src="/images/corynth.jpg" class="round">
        <p>Sorry, the page you were looking for was not found</p>
        <button class="click-button" onclick="location.href='/'"><i class="fa fa-home"></i> Home</button>

    </div>
</body>

</html>