<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Corynth - Features</title>

    <%- include("./templates/meta.ejs") %>

</head>

<body>
    <%- include("./templates/nav.ejs") %>
        <div class="conatiner">
            <table>
                <tr>
                    <td>
                        <h1>Music</h1>
                        <p>Corynth has high quality music provided by lavalink, which allows for all sorts of filters
                            and settings to make your experience better</p>
                        <div class="image">
                            <img src="https://i.imgur.com/TYmKZVB.gif">
                        </div>

                    </td>
                    <td>
                        <h1>Image Manipulation</h1>
                        <p>Corynth has image manipulation features that allow you to change how an image or a user's
                            avatar looks, or create memes</p>
                        <div class="image">
                            <img src="https://i.imgur.com/T1J7dKT.gif">
                        </div>
                    </td>

                    <td>
                        <h1>Configuration</h1>
                        <p>Corynth has configuration features which allow for things such as welcome and goodbye
                            messages, autoroles for users and bots and more</p>
                        <div class="image">
                            <img src="https://i.imgur.com/V8KijNf.gif">
                        </div>
                    </td>
                <tr>
                    <br>
                    <td>
                        <h1>Information</h1>
                        <p>Corynth has information features which allow for you to find out information about the bot,
                            your
                            server, a user, and more</p>
                        <div class="image">
                            <img src="https://i.imgur.com/BJNxmwL.gif">
                        </div>
                    </td>
                    <td>
                        <h1>Moderation</h1>
                        <p>Corynth has moderation features that allow you to bulk delete messages from a channel, ban or
                            kick users, lock and unlock chnnels and more</p>
                        <div class="image">
                            <img src="https://i.imgur.com/DNZujXN.gif">
                        </div>
                    </td>
                    <td>
                        <h1>Security</h1>
                        <p>Corynth has security which protects commands which should be locked, to certain permissions
                            so
                            users can't use those commands without correct permissions</p>
                        <div class="image">
                            <img src="https://i.imgur.com/pqMEtKk.gif">
                        </div>
                    </td>
                </tr>
            </table>
            <p>There are more features which have not been covered here, which can be found by running the c!help
                command</p><br><br><br>
</body>

</html>