<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Corynth</title>
    <%- include("./templates/meta.ejs") %>

</head>

<body>
    <%- include("./templates/nav.ejs") %>
        <div class="conatiner">
            <h1>Corynth</h1>
            <div class="row">
                <img src="/images/corynth.jpg" class="round">
                <div class="text">
                    <h2>The multi-purpose discord bot</h2>
                    <p>Corynth is a discord bot with many features to suit your server's needs, like:
                        <br>Moderation, Music, Image Manipulation and <a class="page" href="/features">more</a>
                        <br>Default prefix is c!
                        <br>Verified since 26th April 2020
                    </p>
                </div>
            </div>
            <!--<img src="/images/corynth.jpg" class="round">-->
            <br><br>
            <button class="click-button" onclick="location.href='/invite'"> Invite
                Corynth</button> <button class="click-button" onclick="location.href='/support'"> Support
                Server</button>

        </div>
        <br>
        <a href="https://discord.boats/bot/660818351638970370">
            <img alt="Corynth" height="125px" src="https://discord.boats/api/widget/660818351638970370">
        </a>

        <a href="https://infinitybotlist.com/bots/660818351638970370">
            <img height="125px" src="https://infinitybotlist.com/bots/660818351638970370/widget?size=small"></a>
</body>

</html>