<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Corynth - Privacy Policy</title>
    <%- include("./templates/meta.ejs") %>

</head>

<body>
    <%- include("./templates/nav.ejs") %>
        <div class="conatiner">
            <h1>Privacy Policy</h1>
            <img src="/images/corynth.jpg" class="round">
            <br><br><br>
            <h2>What is stored?</h2>
            <h3>Servers</h3>
            <p>In terms of servers, the only information stored is the ID of the server, and any configured settings of
                that server<br>Furthermore, when a server removes the bot, all information is wiped from the database
            </p>
            <h3>Users</h3>
            <p>In terms of users, the only information stored is the ID of the user, and any active cooldowns they may
                have
                on a command.<br> A user is only stored when they run a command with a cooldown, and if they have no
                more
                cooldowns, they are removed from the database.</p>
            <h2>How to have your data removed</h2>
            <p>If you wish for your data to be removed from the database, you have a few options:<br>
                Servers: Remove Corynth from the server, or request deletion from the support server<br>
                Users: Do not use Corynth commands with cooldowns, leave all servers with Corynth in, or request
                deletion
                from the support server
            </p>

        </div>
</body>

</html>