<div class="topnav" id="myTopnav">
    <a href="/" class="icon"><img src="/images/corynth.jpg" class="icon"></a>
    <a href="/">Home</a>
    <a href="/features">Features</a>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/vote" class="link">Vote</a>
    <a href="/donate" class="link">Donate</a>
    <a href="/support" class="link">Support</a>
    <a href="/invite" class="link">Invite</a>
    <a href="javascript:void(0);" class="button" onclick="func()">
        <i class="fa fa-bars"></i>
    </a>

    <script>
        function func() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        } 
    </script>
</div>